<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Capitulo07</display-name>
  <session-config>
  <!-- Configura o tempo de duração da sessão em minutos -->
  	<session-timeout>1</session-timeout>
  </session-config>
  
  <context-param>
  	<param-name>instrutor</param-name>
  	<param-value>Felipe</param-value>
  </context-param>
  
  <filter>
  	<filter-name>log</filter-name>
  	<filter-class>br.com.clafify.java.controle.LogFiltro</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>log</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
    
  
</web-app>